* {
    font-family: 'Open Sans', sans-serif;
}


body {
    background-color: #1b1c25;
}


#main .carousel .carousel-inner img {
    max-height: 92vh;
    object-fit: cover;
    filter: grayscale(70%);
}


footer h4 {
    color: #fff;
}

#social-media button {
    max-width: 80px;
    max-height: 50px;
}


#main-photo img {
    max-width: 50vh;
}

#twitter-button {
    padding: 10px;
}

.main-whoami h2,
p, h4 {
    color: #fff;
}

#signature {
    color: #fff;
}

.portfolio-section p {
    color: black;
}

form label{
    color: #fff;
}

/* social media */
.fa {
    padding: 20px;
    font-size: 15px;
    width: 10   px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-github {
    background: #24292e;
    color: white;
}

/* blog */

 

#blogNever img {
    width: 100vh;
    object-fit: cover;
} 