{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <title>
        {% block title %} YAHUARCANI {% endblock %}
    </title>
        <link rel="icon" href="{{ url_for('static', filename='images/logo.png' )}}" type="image/png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}


    {% block content %}
    {% endblock %}


{% endblock%}
