{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <title>
        {% block title %} YAHUARCANI {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock%}
    {% block content %}
    {% endblock %}
    {% block scripts %}
        {{ super() }}
    {% endblock %}
    {% block footer%}
        {% include 'footer.html'%}
    {% endblock%}
{% endblock%}
