{% extends 'base.html' %}
{% block title %}
    Blog
{% endblock %}

{% block content %}
<div class="container">
    <div class="row-lg-12">
        <div class="card ">
            <h5 class="card-header">Topic : inspiration</h5>
            <div class="card-body">
              <h5 class="card-title">Title : Never stop learning</h5>
              <p class="card-text" style="color: black;">
                  Here, I'm going to talk about my experience and how Platzi changes my life
              </p>
              <a href="{{ url_for('never')}}" class="btn btn-primary">keep reading</a>
            </div>
          </div>
    </div>
</div>
{% endblock %}