{% extends 'baseBlog.html' %}

{%  block content %}
<div id="blogNever" class="container">
    <div class="row text-center">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <img class="img-fluid" src="{{ url_for('static',filename='bogotaimages/image (11).jpg')}}"  alt="Learn">
                <h4><strong>Bogotá, the city of everybody</strong></h4>
                <div class="card-body">
                    <p class="mb-5 mt-5" style="text-align: justify;">
                        Well how you know, Bogotá is the capital of Colombia. But it supposes that it was founded 482 years old. But frankly,
                        that is a lie, because this territory has hundreds of years of history. To start the name of Bogotá comes of
                        the native name Bacatá, this was the name of the territory Muisca. Before the Spanish kingdom got here. I wanted to
                        begin with this because is very important, specially if you live here.
                    </p>
                    <img class="img-fluid" src="{{ url_for('static',filename='bogotaimages/image (1).jpg')}}"  alt="Learn">

                    <p class="mb-4 mt-4" style="text-align: justify;">
                        So later of that explication. I want to talk about the first image, that you saw first. This is the Calera. It's the 
                        popular touristic place in Bogotá. but, it doesn't matter where you are, you always are goint to see a spectacular sunsets and
                        and sunrises. Obviously whether sky is not overcast. This 👆 is a sunset from Usme a Localidad in Bogotá.  
                    </p>
                    <img class="img-fluid" src="{{ url_for('static',filename='bogotaimages/image (2).jpg')}}"  alt="Learn">

                    <p class="mb-4 mt-4" style="text-align: justify;">
                        Always there are moments where you can hang out with your friends and drink beer or eat delicious food like
                        empanadas, pasteles, almojabanas, arepas, salchipapas, among others. This image is in a favorite place where 
                        I've found incredible teacher and friends and of course beautiful landscapes. 
                    </p>
                    <img class="img-fluid" src="{{ url_for('static',filename='bogotaimages/image (3).jpg')}}"  alt="Learn">

                    <p class="mb-4 mt-4" style="text-align: justify;">
                        Bogotá has many cultural events, where you could find people are the same page with you. This is amazing, because, Bogotá allows
                        all people think how they want. And with thay way of thinking, they can give awsome solutions to many problems. As in the Andrés
                        Oppenheimer's book cities like Bogotá, it's becoming in the new center of innovation and creativity. In this image 👆 you can see in Rock Al
                        Parque 2019.
                    </p>
                    <img class="img-fluid" src="{{ url_for('static',filename='bogotaimages/image (4).jpg')}}"  alt="Learn">

                    <p class="mb-4 mt-4" style="text-align: justify;">
                        Other important aspect are the museums, in these we can find more culture and history, these aspects are 
                        very importantthe, because, the people have to know their history and never will repeat it. In Bogotá you can find
                        old places like this 👆, where there are colonial architecture and feelings of old Bogotá. The image is the Claustro San Agustín
                        in the Bogotá's downtown. I hope you can visit this museum and specially to know the Jesus Abad Colorado's Work. His work is about
                        the history of Colombia. 
                    </p>
                    <img class="img-fluid" style="width: 30%;" src="{{ url_for('static',filename='bogotaimages/image (5).jpg')}}"  alt="Learn">

                    <p class="mb-4 mt-4" style="text-align: justify;">
                        This image is inside of Claustro San Agustín, and that is a paper tree, it represents a large history, just like each 
                        photo of the work of him.
                    </p>
                    </p>
                    <img class="img-fluid" style="width: 30%;" src="{{ url_for('static',filename='bogotaimages/image (7).jpg')}}"  alt="Learn">
                    <img class="img-fluid" style="width: 30%;"src="{{ url_for('static',filename='bogotaimages/image (8).jpg')}}"  alt="Learn">

                    <p class="mb-4 mt-4" style="text-align: justify;">
                        But well... I talked about a little of Bogotá, but Bogotá has many beautiful things. If you someday later of quarantine,
                        you have the opportunity of visit or work in Bogotá. I hope you can try much food, visit many places, talk with many people
                        and specially have fun.  
                    </p>

                    <img class="img-fluid" src="{{ url_for('static',filename='bogotaimages/image (10).jpg')}}"  alt="Learn">
                    
                    <p class="mb-4 mt-4" style="text-align: justify;">
                        I hope you've reached until here, remember my name is javier sarmiento and you can follow me in my different social media.
                        <a href="https://twitter.com/SarmiJavier">Twitter</a>  
                        <a href="https://www.instagram.com/sarmijavier/">Instagram</a>  
                        <a href="https://github.com/sarmijavier">Github</a>  
                        <a href="https://www.linkedin.com/in/h-javier-sarmiento-y-28085a19a/">Linkedin</a>  
                    </p>
                </div>
            </div>
        </div>
</div>



{% endblock %}