<!-- footer -->

<footer class="footer">
    <div class="container-fluid pt-5 pb-5">
        <div class="row-12 mb-5">
            <h4 class="text-center" >Contact Us</h4>
        </div>
        <div class="row mr-2 text-center">
            <div class="col-lg-6 ">
                <h4>Social Media</h4>
                <a href="https://twitter.com/SarmiJavier" target="_blank"  class="fa fa-twitter"></a>
                <a href="https://www.instagram.com/sarmijavier/" target="_blank" class="fa fa-instagram"></a>       
                <a href="https://www.linkedin.com/in/h-javier-sarmiento-y-28085a19a/"  target="_blank" class="fa fa-linkedin"></a>
                <a href="https://github.com/sarmijavier" target="_blank" class="fa fa-github"></a>

            </div>
            <div id=contact class="col-lg-6 col-md-12 col-sm-12 text-center">
                <h4>Email</h4>
                <h4>hjsarmiento1999@gmail.com</h4>
            </div>
        </div>
    </div>
</footer>

<!-- /footer -->