{% extends 'baseBlog.html' %}

{%  block content %}
<div id="blogNever" class="container">
    <div class="row text-center">
        <div class="col-lg-12">
            <img class="img-fluid" src="https://images.pexels.com/photos/247819/pexels-photo-247819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"  alt="Learn">
                <h4><strong>Never stop Learning(Nunca Pares de aprender)</strong></h4>
                <div class="card-body">
                    <p class="mb-5 mt-5" style="text-align: left;">
                        you can learn whatever you want!!!. 
                    </p>
                    <p class="mb-4 mt-4" style="text-align: justify;">
                        This is one of the messages that Platzi inspires and teachs you, when you know Platzi.
                        When you listen this, your thinking changes.
                    </p>
                    <p class="mb-4 mt-4" style="text-align: justify;">
                        In the year 2019 in June, before all this. I participated in a call, where you could study in EDX, Coursera or Platzi
                        and the specialitation of the call is AI. At that moment I knew platzi, because, I've watched some Freddy's talks.
                        But nothing more. 
                    </p>
                    <p class="mb-4 mt-4" style="text-align: justify;">
                        In september I received the answer from call, and they give me the scolarship with Platzi, I was happy, I didn't know
                        that it might happen. But when I began with my first courses, I was surprised with the teachers from Platzi, I started with 
                        course of python with Aroesti and I realized of quality of teachers from Platzi. Besides, if you write them on Twitter, they're going to
                        answer and you can connect with Platzi even more.
                    </p>
                    <p class="mb-4 mt-4" style="text-align: justify;">
                        Other important aspect was the community, The Platzi' heart is its community, where you can find people the differents professions,
                        and how they help you and you can contribute as well. During the countdown, Plazi started with meetups and the schools, in my opinion
                        the best way to improve Platzi and make stronger the community.
                    </p>
                    <p class="mb-4 mt-4" style="text-align: justify;">
                        The team platzi always will be when you need them. They always help you with your questions. Besides, the majority of members of
                        team platzi make interesting blogs about different topics.
                    </p>
                    <p class="mb-4 mt-4" style="text-align: justify;">
                        Each week you can enjoy new courses, expert sessions, challenges and much more. Where you can improve your knowledge in different
                        topics, and you can test yourself with the challenges.
                    </p>

                    <p class="mb-4 mt-4" style="text-align: justify;">
                        Now platzi teaches many important things where you can be informed with news, technology, and much more.
                        The point here is you can learn whatever you want and to be the best. F or that reason Never stop learning!. 
                    </p>

                    <p class="mb-4 mt-4" style="text-align: justify;">
                        Hey, if you want to give me feedback, please contact me in my differents social media.
                        <a href="https://twitter.com/SarmiJavier">Twitter</a>  
                        <a href="https://www.instagram.com/sarmijavier/">Instagram</a>  
                        <a href="https://github.com/sarmijavier">Github</a>  
                        <a href="https://www.linkedin.com/in/h-javier-sarmiento-y-28085a19a/">Linkedin</a>  
                    </p>
                </div>
            </div>
        </div>
</div>



{% endblock %}