{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    {% block title %}
        <title>WhoAmI</title>
    {% endblock%}
<!--     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 -->    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylewho.css') }}">
{% endblock %}

{% block content %}
<main class="main-whoami">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-lg-6 col-sm-12">
                <figure class="main-photo";">
                    <img src="https://images.pexels.com/photos/247819/pexels-photo-247819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Now or Never">
                </figure>
            </div>
            <div class="col-lg-6 col-sm-12">
                <h2 >Never Stop learning</h2>
                <p>
                    Hi!, I'm a system engineering and computing student, but it doesn't matter. I love technology and 
                    science. In the university and at Plazi, I've developed differente skills and personal projects. Where 
                    I've improved as a person and professional. I want to start with you, I always learn something new. 
                </p>
            </div>
        </div>
        <div  id="signature" class="row-12 text-center ">
            <h1 >How can I help you ?</h1>
        </div>
    </div>
</main>
{% endblock%}