{% extends 'base.html' %}

{% block title %}
    WhoAmI
{% endblock %}


{% block content %}
<main class="main-whoami">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-lg-6 col-sm-12">
                <figure class="main-photo";">
                    <img src="{{ url_for('static', filename='images/perfilPhoto.jpeg')}}" alt="Now or Never">
                </figure>
            </div>
            <div class="col-lg-6 col-sm-12">
                <h2 >Who I am</h2>
                <p style="text-align: justify;">
                    Hi!, my name is Javier Sarmiento, I'm system engineering and computing student. My passion is the technology
                    and the science. nowadays I'm learning Python, Js, Cloud, AI and web development(HTML5, CSS3, Js). Every day I learn
                    something new and I can teach it as well. The idea of help other persons with technology is amazing, for that reason,
                     <strong>tell me How can I help you ?</strong>
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock%}